
.navBar{
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0.3rem;
    box-sizing: border-box;
    justify-content: space-around;;

    > img{
        height: 100%;
    }

    > svg {
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        
        &:hover {
            color: rgb(179, 177, 177);
        }
      }

    >div{
        margin-left: 7rem;
        width: 70%;
        >a{
            color: white;
            margin: 2vmax;
            text-decoration: none;
            &:hover {
                color: rgb(179, 177, 177);
            }
        }
    }
   
}


.card{

    width: 200px;
    cursor: pointer;
    transition: transform 0.5s;
    &:hover{
        transform: translateY(-10px) scale(1.1);
    }
    margin-right: 20px;
}
.row{
    >h2 {
        // background-color: red;
        color: white;
        display: flex;
        overflow-x: auto;
        
    }
    >div{
        display: flex;
        overflow-x: auto;

    }
}

.Banner{
    background-color: black;
    padding: 5px;
}